<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Component Test Page</title>

    <script src="packages/web_components/webcomponents.min.js"></script>

    <script async type="application/dart" src="app_initialize.dart"></script>
    <script async type="application/javascript" src="packages/browser/dart.js"></script>
</head>
<body>

<h1> Test Page</h1>
<p>
    This is a test page to see your component in action. <br>
    When using this component in another project, only the stuff in lib will be imported
</p>

<label>
    Test Text Input:
    <input type="text" jb-bool-attr-disabled="{{inputDisabled}}" ng-model="content">
</label>

<button ng-click="toggleDisabled()">Toggle disabled</button>

</body>
</html>